*{
box-sizing: border-box;
padding: 0;
}
ul,li{
    list-style: none;
}
ul{
   display: inline-block;

}
li{
    padding: 15px;
    margin: 15px 0;
    border: 1px solid black;
}
span{
    border: 1px solid;
    padding: 2px;
}